
.grid {
    display: flex; 
    flex-wrap: wrap;
    margin: -1rem;
    align-items: center;
    list-style: none;
    padding: 2rem 0;

    @media (min-width: 70rem) {
        margin: -1rem -10rem;
    }

    &__item {
        padding: 1rem;
        width: 100%;

        @media (min-width: 45rem) {
            padding: 1rem;
            width: 50%
        }

        @media (min-width: 70rem) {
            width: 33.333333%;
        }
    }
}
