.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.01em;
    max-width: 50rem;
    margin: 0 auto;

    &__content {
        flex-grow: 1;
        padding: 5rem 2rem 3rem;
    }
}